@import "../variables.modules.scss";

header {
  background-color: $color-white;
  box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.25);
  z-index: 10;
  position: relative;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;

  .burger-menu {
    display: none;
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
  }

  .close-menu {
    display: none;
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
    color: $color-white;
  }

  nav {
    ul {
      display: flex;
      gap: 20px;
    }

    li {
      list-style-type: none;
      font-family: $font-main;
    }

    a {
      text-decoration: none;
      color: rgb(18, 112, 235);
      transition: $transition-buttons;

      &:hover {
        opacity: 0.8;
        transition: $transition-buttons;
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .header-content {
    .burger-menu {
      display: block;
    }

    .close-menu {
      display: block;
    }

    nav {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: fixed;
      top: 0;
      right: 0;
      height: 100vh;
      width: 300px;
      background-color: $color-contrast;
      transform: translateX(100%);
      transition: transform 0.3s ease-in-out;
      z-index: 20;

      &.open {
        transform: translateX(0);
      }

      ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0;
        padding: 0;
        margin: 0;
        height: 100%;
        justify-content: center;

        li {
          margin: 20px 0;
        }

        a {
          color: $color-white;
          font-size: 1.5rem;
        }
      }
    }
  }

  .overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 15;
  }

  .overlay.open {
    display: block;
  }
}
