@import '../variables.modules.scss';

.slogan {
  margin-top: 100px;
  background-color: $color-contrast;
  color: $color-white;
  padding-top: 0;
}

.slogan-main {
  font-family: $font-main;
  font-size: $font-size-52;
  color: $color-white;
  
  span {
    font-family: $font-mitr;
  }
}

.slogan-gradient {
  font-family: $font-black;
  font-size: $font-size-75;
  background: radial-gradient(circle at center, #6385FD, #fff);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.slogan-clear {
  font-family: $font-black;
  font-size: $font-size-90;
  text-align: center;
  color: $color-contrast;
  text-shadow:
  -1px -1px 0 #fff,  
   1px -1px 0 #fff,
   -1px 1px 0 #fff,
    1px 1px 0 #fff;
}

.slogan-right-text {
  text-align: right;
}

.slogan-content {
  padding: 60px 0;
}

@media screen and (max-width: 768px) {
  .slogan-main {
    font-size: $font-size-36;
  }
  
  .slogan-gradient, .slogan-clear {
    font-size: $font-size-52;
  }
}

@media screen and (max-width: 400px) {
  .slogan-right-text, .slogan-gradient, .slogan-clear, .slogan-main {
    text-align: center;
    font-size: $font-size-36;
  }
}
