@import '../../../variables.modules.scss';

.catalog-card {
  h3 {
    font-family: $font-main;
    font-size: $font-size-24;
    margin: 15px 0 10px;
  }
  
}

.catalog-card > img {
  width: 100%;
}

.button {
  text-decoration: none;
  padding: 20px 40px;
  background-color: $color-buttons;
  color: $color-white;
  font-family: $font-semibold;
  border-radius: $border-radius-button;
  transition: $transition-buttons;
  
  &:hover {
    opacity: 0.8;
    transition: $transition-buttons;
  }
}

@media screen and (max-width: 768px) {
  .catalog-card {
    h3 {
      text-align: center;
      font-size: $font-size-20;
    }
  }
}
